# Python cache files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build directories
build/
dist/
*.spec

# Temporary update installer files
*.bat
ModVault_new.exe

# Environment files
.env
venv/
ENV/